USE [master]
GO
/****** Object:  Database [GoodTuitions]    Script Date: 01/28/2014 01:48:59 ******/
CREATE DATABASE [GoodTuitions] ON  PRIMARY 
( NAME = N'GoodTuitions', FILENAME = N'E:\MyDatabases\GoodTuitions.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GoodTuitions_log', FILENAME = N'E:\MyDatabases\GoodTuitions_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoodTuitions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoodTuitions]
GO
/****** Object:  Table [dbo].[cor_users]    Script Date: 01/28/2014 01:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cor_users](
	[email_address] [nvarchar](80) NOT NULL,
	[user_name] [nvarchar](80) NOT NULL,
	[first_name] [nvarchar](80) NOT NULL,
	[last_name] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_cor_users] PRIMARY KEY CLUSTERED 
(
	[email_address] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cor_profile]    Script Date: 01/28/2014 01:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cor_profile](
	[email_address] [nvarchar](80) NOT NULL,
	[mobile_number] [nvarchar](50) NOT NULL,
	[telephone_number] [nvarchar](50) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[province] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_cor_profile] PRIMARY KEY CLUSTERED 
(
	[email_address] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cor_passwords]    Script Date: 01/28/2014 01:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cor_passwords](
	[email_address] [nvarchar](80) NOT NULL,
	[password_hash] [nvarchar](50) NOT NULL,
	[password_salt] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_cor_passwords] PRIMARY KEY CLUSTERED 
(
	[email_address] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[p_signup]    Script Date: 01/28/2014 01:49:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[p_signup] 
	-- Add the parameters for the stored procedure here
	@mod			INT=0,
	@user_name		NVARCHAR(80)='',
	@first_name		NVARCHAR(80)='',
	@last_name		NVARCHAR(80)='',
	@email_address	NVARCHAR(80)='',
	@password_hash	NVARCHAR(80)='',
	@password_salt	NVARCHAR(80)=''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@mod=1)
		BEGIN
			INSERT INTO DBO.cor_users
						(
							[user_name]	,
							first_name	,
							last_name	,
							email_address
						)
			VALUES		
						(
							@user_name	,
							@first_name	,
							@last_name	,
							@email_address
						)
			INSERT INTO DBO.cor_passwords
						(
							email_address,
							password_hash,
							password_salt
						)
			VALUES
						(
							@email_address,
							@password_hash,
							@password_salt
						)
		END
	
END
GO
/****** Object:  StoredProcedure [dbo].[p_login]    Script Date: 01/28/2014 01:49:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[p_login] 
	-- Add the parameters for the stored procedure here
	@mod			INT=0,
	@email_address	NVARCHAR(80)=''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@mod=1)
		BEGIN
			SELECT	1 
			FROM	DBO.cor_passwords
			WHERE	email_address=@email_address
		END
	
END
GO
/****** Object:  ForeignKey [FK_cor_profile_cor_users]    Script Date: 01/28/2014 01:49:00 ******/
ALTER TABLE [dbo].[cor_profile]  WITH CHECK ADD  CONSTRAINT [FK_cor_profile_cor_users] FOREIGN KEY([email_address])
REFERENCES [dbo].[cor_users] ([email_address])
GO
ALTER TABLE [dbo].[cor_profile] CHECK CONSTRAINT [FK_cor_profile_cor_users]
GO
/****** Object:  ForeignKey [FK_cor_passwords_cor_users]    Script Date: 01/28/2014 01:49:00 ******/
ALTER TABLE [dbo].[cor_passwords]  WITH CHECK ADD  CONSTRAINT [FK_cor_passwords_cor_users] FOREIGN KEY([email_address])
REFERENCES [dbo].[cor_users] ([email_address])
GO
ALTER TABLE [dbo].[cor_passwords] CHECK CONSTRAINT [FK_cor_passwords_cor_users]
GO
